@model Studentski_dom.Models.PrijavaObroka

@{
    ViewData["Title"] = "Delete";
}
    <body background="css/assets/img/pozadina1.jpg">
    </body>

<h3>Jeste li sigurni da želite obrisati današnje prijave obroka?</h3>
<div>
    
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden"  />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
