@model Studentski_dom.Models.PrijavaStudenta

@{
    ViewData["Title"] = "RegistracijaStudenta";
}

<body background="css/assets/img/pozadina1.jpg">
</body>

<h1 align="center">Registracija</h1>

<hr />

<form asp-action="RegistracijaStudenta">
    <table align="center">
        <tr style="height:100px;">
            <th colspan="2">Lični podaci</th>
            <th colspan="2">Informacije o studiju</th>
            <th colspan="2">Kontakt informacije</th>
        </tr>
        <tr>
            <td>
                <label asp-for="ImePrezime" class="control-label"></label>
            </td>
            <td width="220px">
                <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="width:200px">
                    <input asp-for="ImePrezime" class="form-control" />
                    <span asp-validation-for="ImePrezime" class="text-danger"></span>
                </div>-->
                <div class="form-group">
                    <input asp-for="ImePrezime" class="form-control" type="text" data-val="true" data-val-required="Morate unijeti ime i prezime" id="ImePrezime"
                           name="ImePrezime" value="" />
                    <span asp-validation-for="ImePrezime" class="text-danger filed-validation-valid" data-valmsg-for="ImePrezime" data-valmsg-replace="true"></span>
                </div>
            </td>
            <td><label asp-for="Fakultet" class="control-label"></label></td>
            <td width="220px">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="width: 200px">
                    <select class="form-control" id="Fakultet" name="Fakultet">
                        <option></option>
                        <option>Akademija likovnih umjetnosti</option>
                        <option>Akademija scenskih umjetnosti</option>
                        <option>Arhitektonski fakultet</option>
                        <option>Ekonomski fakultet</option>
                        <option>Elektrotehnički fakultet</option>
                        <option>Fakultet za kriminalistiku, kriminologiju i sigurnosne studije</option>
                        <option>Fakultet političkih nauka</option>
                        <option>Fakultet sporta i tjelesnog odgoja</option>
                        <option>Fakultet za saobraćaj i komunikacije</option>
                        <option>Fakultet zdravstvenih studija</option>
                        <option>Farmaceutski fakultet</option>
                        <option>Filozofski fakultet</option>
                        <option>Građevinski fakultet</option>
                        <option>Mašinski fakultet</option>
                        <option>Medicinski fakultet</option>
                        <option>Muzička akademija</option>
                        <option>Pedagoški fakultet</option>
                        <option>Poljoprivredno - prehrambeni fakultet</option>
                        <option>Pravni fakultet</option>
                        <option>Prirodno-matematički fakultet fakultet</option>
                        <option>Stomatološki fakultet</option>
                        <option>Šumarski fakultet</option>
                        <option>Veterinarski fakultet</option>
                        <option>Fakultet islamskih nauka</option>
                        <option>Katolički bogoslovni fakultet</option>
                    </select>
                    <span asp-validation-for="Fakultet" class="text-danger"></span>
                </div>
            </td>
            <td>
                <label asp-for="BrojTelefona" class="control-label"></label>
            </td>
            <td width="220px">
                <!--   <div asp-validation-summary="ModelOnly" class="text-danger"></div> -->
                <div class="form-group" style="width:200px">
                    <input asp-for="BrojTelefona" class="form-control" type="text" data-val="true" data-val-required="Morate unijeti broj telefona" id="BrojTelefona"
                           name="BrojTelefona" value="" />
                    <span asp-validation-for="BrojTelefona" class="text-danger filed-validation-valid" data-valmsg-for="BrojTelefona" data-valmsg-replace="true"></span>
                    <!--        <input asp-for="BrojTelefona" class="form-control" />
                    <span asp-validation-for="BrojTelefona" class="text-danger"></span> -->
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="JMBG" class="control-label"></label>
            </td>
            <td width="220px">
                <div class="form-group" style="width:200px">
                    <input asp-for="JMBG" class="form-control" type="number" data-val="true" data-val-required="Morate unijeti JMBG" id="JMBG"
                           data-val-minlength="JMBG mora sadržavati 13 brojeva" data-val-minlength-min="13"
                           data-val-maxlength="JMBG mora sadržavati 13 brojeva" data-val-maxlength-max="13"
                           name="JMBG" value="" />
                    <span asp-validation-for="JMBG" class="text-danger filed-validation-valid" data-valmsg-for="JMBG" data-valmsg-replace="true"></span>

                    <!--        <input asp-for="JMBG" class="form-control" />
                    <span asp-validation-for="JMBG" class="text-danger"></span>-->
                </div>
            </td>
            <td>
                <label asp-for="GodinaStudiranja" class="control-label"></label>
            </td>
            <td width="220px">
                <div class="form-group" style="width:200px">
                    <select class="form-control" id="GodinaStudiranja" name="GodinaStudiranja">
                        <option></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                    <span asp-validation-for="GodinaStudiranja" class="text-danger"></span>
                </div>
            </td>
            <td>
                <label asp-for="Email" class="control-label"></label>
            </td>
            <td width="220px">
                <div class="form-group" style="width:200px">
                    <input asp-for="Email" class="form-control" type="text" data-val="true" data-val-required="Morate unijeti email" id="Email"
                           name="Email" value="" />
                    <span asp-validation-for="Email" class="text-danger filed-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    <!--    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>-->
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="AdresaStanovanja" class="control-label"></label>
            </td>
            <td width="220px">
                <div class="form-group" style="width:200px">
                    <input asp-for="AdresaStanovanja" class="form-control" type="text" data-val="true" data-val-required="Morate unijeti adresu stanovanja"
                           id="AdresaStanovanja"
                           name="AdresaStanovanja" value="" />
                    <span asp-validation-for="AdresaStanovanja" class="text-danger filed-validation-valid" data-valmsg-for="AdresaStanovanja" data-valmsg-replace="true"></span>
                    <!--     <input asp-for="AdresaStanovanja" class="form-control" />
                    <span asp-validation-for="AdresaStanovanja" class="text-danger"></span>-->
                </div>
            </td>
            <td>
                <label asp-for="CiklusStudija" class="control-label"></label>
            </td>
            <td width="220px">
                <div class="form-group" style="width:200px">
                    <select class="form-control" id="CiklusStudija" name="CiklusStudija">
                        <option></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <span asp-validation-for="CiklusStudija" class="text-danger"></span>
                </div>
            </td>
            <!--
            <td>
                <label asp-for="Fotografija" class="control-label"></label>
            </td>
            <td width="220px">
                <div class="form-group" style="width:200px">
                    <input asp-for="Fotografija" class="form-control" />
                    <span asp-validation-for="Fotografija" class="text-danger"></span>
                </div>
            </td>-->
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <label asp-for="BrojIndeksa" class="control-label"></label>
            </td>
            <td>
                <div class="form-group" style="width:200px">
                    <input asp-for="BrojIndeksa" class="form-control" type="text" data-val="true" data-val-required="Morate unijeti broj indeksa"
                           id="BrojIndeksa" name="BrojIndeksa" value="" />
                    <span asp-validation-for="BrojIndeksa" class="text-danger filed-validation-valid" data-valmsg-for="BrojIndeksa" data-valmsg-replace="true"></span>

                    <!--      <input asp-for="BrojIndeksa" class="form-control" />
                    <span asp-validation-for="BrojIndeksa" class="text-danger"></span>-->
                </div>
            </td>
        </tr>

        <tr style="height:100px">
            <td></td>
            <td></td>
            <td colspan="2">
                <div class="form-group">
                    <input type="submit" value="Pošalji prijavu" class="btn btn-primary" />
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</form>
@if (User.IsInRole("Uposlenik uprave"))
{
    <!--<div>
        <a asp-action="Index">Back to List</a>
    </div>-->
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
