@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="css/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="css/assets/css/styles.css">
</head>
<body>
    <div id="pocetna">
        <div class="jumbotron">
            <h1>Dobrodošli na stranicu studentskog doma!<br></h1>
            <p><br>Više od 50 godina njegujemo tradiciju i pružamo usluge studentima iz cijele Bosne i Hercegovine. Postanite i Vi član doma!<br><br></p>
            <p><a class="btn btn-primary" role="button" id="dugme" style="background-color: rgb(184,152,113);">Registruj se</a></p>
        </div>
    </div>
    <div id="donji" style="background-color: #e1ccbc;">
        <h2 class="text-center" id="podpodnaslov">Šta sve možete uraditi online</h2>
        <div class="row">
            <div class="col-4">
                <h3 class="text-center"></h3><i class="fa fa-pencil-square-o d-xl-flex justify-content-xl-center" id="upis"></i>
                <h3 class="text-center">Registrovati se</h3>
                <p class="text-center">Registracija nikada nije bila lakša koristeći naš online prijavni obrazac</p>
            </div>
            <div class="col-4">
                <h3 class="text-center"><i class="fa fa-cutlery" id="obrok"></i></h3>
                <h3 class="text-center">Prijaviti obrok</h3>
                <p class="text-center">Dnevna prijava obroka Vam olakšava planiranje vremena i omogućava da naknadno preuzmete obrok</p>
            </div>
            <div class="col-4">
                <h3 class="text-center"><i class="fas fa-hammer" id="obrok"></i></h3>
                <h3 class="text-center">Prijaviti kvar</h3>
                <p class="text-center">Jednostavna prijava kvara omogućava brzo reagovanje od strane našeg osoblja</p>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
