@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <br style=“line-height:3”><br>
        <h1 style="color:blue; font-size:50px; font-family:'Comic Sans MS'">Studentski dom</h1>
        <br style=“line-height:5”><br>
        <p>Dobrodošli na web stranicu Studentskog doma</p>
        <br style=“line-height:2”><br>
        <p>Registruj se i postani član našeg doma</p>
    </div>
