@model Studentski_dom.Models.PrijavaKvara

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PrijavaKvara</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HitanKvar" /> @Html.DisplayNameFor(model => model.HitanKvar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Rijeseno" /> @Html.DisplayNameFor(model => model.Rijeseno)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
